@media only screen and (max-width: 600px) {
    .mainli-foot{
        margin-top: 15px !important;     
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mainli-foot a{
        margin-top: 20px !important;
    }
    #username, #password{
        height: 40px;
        width: 99%;
        font-size: 12px;
    }
    #login-form > label{
        font-size: 14px;
        margin-top: 15px;
    }
    .login-button{
        margin-top: 30px;
        font-size: 20px;
    }
    #login-form{
        padding: 35px 35px 35px 35px !important;
    }
    .main-container{
        width: auto;
    }
    .wrap{
        display: block;
    }
}
@media only screen and (max-width: 900px) {

    #login-form{
        padding: 50px 35px 35px 35px;
    }

    
}
@media only screen and (min-width: 900px) {

    #login-form{
        padding: 50px 35px 50px 35px;
    }
    
}
@media only screen and (max-width: 1200px) {
    .download-button{
        font-size: 30px;
        padding: 30px 50px;
    }
}
@media screen and (max-width: 1200px) {
    #login-form{
        width: 500px;
    }
    .motto-wrap{
        width: 100%;
    }
}
@media screen and (max-width: 1600px) {
    .menu{
        margin-left: 50px;
    }
    
}
/* Path: CSS/Style.css */
/* Compare this snippet from CSS/Responsive.css: */
@media screen and (max-width: 1450px) {
    .menu{
        margin-left: 80px;
    }
    
}
@media screen and (max-width: 990px) {
    .page-header{
        font-size: 56px;
        line-height: 70px;
    }
    .intro-text{
        width: auto;
    }
    .intro-paragraph{
        font-size: 30px;
        line-height: 30px;
    }
    .footer-menu ul{
        width: auto;
        flex-direction: column;
        float: none;
    }
    .footer-logo {
        width: auto !important;
        float: none;
        display: flex;
        justify-content: center;
    }
    .footer-menu{
        width: auto !important;
        float: none;
        justify-content: center;
    }
    .page-header-small{
        font-size: 30px;
        line-height: 42px;
    }
    .logo-area{
        margin-left: 0;
    }
    .menu-container{
        display: none;
    }
    .hamburger {
        display: block;
    }
    .menu-container.active {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .menu {
        flex-direction: column;
        background-color: #585858;
        position: absolute;
        top: 70px;
        right: 0;
        width: 220px;
        height: 200px;
        padding: 0;
        margin: 0;
        padding: 20px;
        transition: all 0.3s ease;
    }
    .intro-content{
        width: 80%;
    }
    header a{
        color: white !important;
    }
    .site-header{
        padding: 0;
        margin: 0;
    }
}
@media screen and (max-width: 767px) {
    .main-content{
        margin: 0 15px;
    }
    .main-container{
        text-align: center;
    }
    .intro-paragraph{
        font-size: 25px;
        line-height: 25px;
    }
    .paragraph-bigger{
        font-size: 16px;
        line-height: 28px;
    }   
    .page-header{
        font-size: 50px;
        line-height: 64px;
    }
}
@media screen and (max-width: 479px) {
    h1{
        font-size: 36px;
        line-height: 52px;
    }
    .page-header{
        font-size: 36px;
        line-height: 48px;
    }
    .download-button{
        font-size: 20px;
        padding: 20px 40px;
    }
}
@media screen and (max-width: 1150px) {
    .main-intro-header{
        
        width: auto;
    }
    
    .main-about-second{
        display: flex;
        flex-direction: column;
    }
    .main-about{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 1560px) {
    .footer-logo{
        padding-left: 0;
        width: 30%;
    }
    .footer-menu{
        width: 70%;
    }
}